/**
* Any CSS included here will be global. The classic template
* bundles Infima by default. Infima is a CSS framework designed to
* work well for content-centric websites.
*/

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500&family=Roboto:wght@400;500;700&display=swap');

/* You can override the default Infima variables here. */
:root {
  --doc-sidebar-width: max(300px, -455px + 50vw) !important;
  --ifm-color-primary: #009f9e;
  --ifm-color-primary-dark: rgb(33, 175, 144);
  --ifm-color-primary-darker: rgb(31, 165, 136);
  --ifm-color-primary-darkest: rgb(26, 136, 112);
  --ifm-color-primary-light: rgb(70, 203, 174);
  --ifm-color-primary-lighter: rgb(102, 212, 189);
  --ifm-color-primary-lightest: rgb(146, 224, 208);
  --ifm-code-font-size: 95%;
  --ifm-font-color-base: rgb(59, 69, 78);
  --ifm-menu-color-background-active: #fff;
  --ifm-navbar-height: 80px;
  --ifm-navbar-padding-horizontal: 2rem;
  --ifm-navbar-link-color: rgb(59, 69, 78);
  --ifm-toc-border-color: rgb(211, 220, 228);
  --ifm-navbar-shadow: rgba(0, 0, 0, 0.05) 0px 4px 10px;
  /* --ifm-footer-background-color: #29293d; */
  --ifm-footer-background-color: red !important;
}

html,
body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Barlow', sans-serif;
}

nav {
  padding-right: 0 !important;
}

.navbar {
  border-bottom: 1px solid var(--ifm-toc-border-color);
}

.navbar__title {
  font-size: 1.5em;
  position: relative;
}

.navbar__brand {
  position: relative;
}

.navbar__brand:after {
  content: '';
  position: absolute;
  top: 50%;
  left: calc(
    max(300px, -455px + 50vw) - var(--ifm-navbar-padding-horizontal) - 1px
  );
  transform: translateY(-50%);
  width: 1px;
  height: 40px;
  background: var(--ifm-toc-border-color);
}

.navbar__items--right {
  padding: 0 1rem;
}

.menu {
  margin-left: auto;
  width: 300px;
}

@media (max-width: 996px) {
  .menu {
    width: calc(var(--ifm-navbar-sidebar-width));
  }
}

.menu__link {
  border: 1px solid transparent;
  border-radius: 0;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.375rem;
  padding: 0.4rem 1rem;
  align-items: center;
}

li > .menu__link--active {
  border-color: var(--ifm-toc-border-color);
}

.menu__link:not([href]) {
  color: rgb(136, 153, 168);
  font-size: 12px;
  letter-spacing: 1.2px;
  margin-top: 1rem;
  text-transform: uppercase;
}

.menu__list-item-collapsible + ul .menu__link:not([href]) {
  margin-top: 0;
}

li > .menu__link:not([href]):hover {
  color: rgb(136, 153, 168);
}

.menu__list-item-collapsible:hover {
  background: none;
}

.markdown h1:first-child {
  border-bottom: 1px solid #dfe4ea;
  padding-bottom: 1.6rem;
}

aside {
  background: rgb(243, 245, 246);
}

aside > div {
  margin-left: auto;
  position: fixed !important;
}

main > .container > .row > div:last-of-type:not(:first-of-type) {
  flex: 1 0;
  max-width: var(--doc-sidebar-width);
  width: var(--doc-sidebar-width);
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

.social {
  background-repeat: no-repeat;
  background-size: contain;
  height: 2rem;
  margin-left: 0.6rem;
  width: 2rem;
}

.github {
  background-image: url(/img/social-github.svg);
}

.linkedin {
  background-image: url(/img/social-linkedin.svg);
}

.medium {
  background-image: url(/img/social-medium.svg);
}

.twitter {
  background-image: url(/img/social-twitter.svg);
}
